body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
:root {
  --pinkColor: #eb2756;
  --whiteColor: #fefefe;
  --grayColor: #898a88;
  --blueColor: #28435b;
}
.content {
  display: grid;
  grid-template-rows: 1fr;
}
#root,
.App,
.Content {
  min-height: 100vh;
}
input {
  box-sizing: border-box;
  padding: 5px 10px;
}
